* {
	/* color: #444;
	font-family: sans-serif; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Universal selector ignores inheritance and applies styles to all elements - A global reset */
body {
	color: #444;
	font-family: sans-serif;

	border-top: 10px solid #1098ad;
	position: relative;
}

.container {
	width: 1200px;
	/* margin-left: auto;
	margin-right: auto; */
	margin: 0 auto;
}
/* centering a page with certain width */

h1,
h2,
h3 {
	color: #1098ad;
}
/* Overrides the previous declarations for these HTML elements */

h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 40px;
	margin-bottom: 30px;
	position: relative;
}

h3 {
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 15px;
}

li {
	font-size: 20px;
	margin-bottom: 10px;
}
/* element selector */

ul,
ol {
	margin-left: 50px;
	margin-bottom: 20px;
}

li:last-child {
	margin-bottom: 0px;
}
/* footer p {
	font-size: 16px;
} */
/* Nested element selector - selects p element inside footer element */

#copyright {
	font-size: 16px;
}
/* id selector appears only once a unique name */

/* article header p {
	font-style: italic;
} */
/* Nested descendent selector */

#author {
	font-style: italic;
	font-size: 18px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}
/* class selector - can appear in multiple locations */

.no-bullets {
	list-style: none;
	margin-left: 0;
}

.main-header {
	background-color: #f7f7f7;
	padding: 20px 40px;
	margin-bottom: 60px;
}
nav {
	font-size: 18px;
}
nav a:link {
	margin-right: 30px;
	margin-top: 10px;
	display: inline-block;
}

nav a:link:last-child {
	margin-right: 0;
}

.post-header {
	margin-bottom: 40px;
}
article {
	margin-bottom: 60px;
}
aside {
	background-color: #f7f7f7;
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	padding: 50px 40px;
}

li:first-child {
	font-weight: bold;
}
/* Pseudo class selector: selects the firsat child element of li */

li:nth-child(even) {
	/* font-weight: bold; */
}
li:nth-child(2) {
	/* font-weight: bold; */
}

article p:first-child {
	/* color: red; */
}
/* This does not work as its not the first child - In essense, Pseudo classes work best when all child classes are of the same kind just like ordered or unordered list use case scnecarios */

/* Styling Links */
/* Keep the order of a element states as follows */
/* initial state */
a:link {
	color: #1098ad;
	text-decoration: none;
	/* gets rid of underline of the link */
}
/* this overrides the below color assigment as it also carried a Pseudo assigment of link which refers to a elements with href definition */
/* a {
	color: red;
} */
/* does not change the above color assigment as it only refers to a elements with no href preferably and psedudo class has more specificity than plain element selector */
/* when used */
a:visited {
	color: #1098ad;
}
/* when hovered over */
a:hover {
	color: orangered;
	font-weight: bold;
	/* text-decoration: underline wavy orangered;
	text-decoration: underline dotted orangered; */
	text-decoration: underline orangered;
}
/* when clicked */
a:active {
	background-color: black;
	font-style: italic;
}

/* Resolving conflicts & specificity exercise */
/* #copyright {
	color: red;
} */
/* Has the highest specificity and overrides all */
/* .copyright {
	color: blue;
}
.text {
	color: yellow;
} */
/* .text overrides .copyright as it comes right after it in the absence of #copyright */
/* footer p {
	color: green;
} */
/* Has the lowest specificity */
/* footer p {
	color: green !important;
} */
/* !important is an override mechanism that disregards specificity - its a last resort of measure and shall be disregarded whenever possible */
.post-image {
	/* width: 800px; */
	width: 100%;
	/* extends to the size of the full browser view width */
	height: auto;
	/* keeps aspect ratio if H/W is mentioned in HTML as well as an overrite measure*/
}
button {
	font-size: 22px;
	padding: 20px;
	cursor: pointer;

	position: absolute;
	/* position:relative aasigned to body which is the parent element that we want to set this button in relation to */
	bottom: 50px;
	right: 50px;
}

h1::first-letter {
	font-style: normal;
	margin-right: 5px;
}
/* p::first-line {
	color: red;
} */
/* h3 + p::first-line {
	color: red;
} */
h2::after {
	content: "TOP";
	background-color: #ffe70e;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	/* display: inline-block; */
	padding: 5px 10px;
	position: absolute;
	top: -15px;
	right: -25px;
}
/* We have set parent element h2 as position:relative in order to set this pseudo element content "TOP" positioned absolute in relation to */

/* EXPERIMENTING WITH FLOATS */
.author-img {
	float: left;
	margin-bottom: 20px;
}
.author {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

h1 {
	float: left;
}
nav {
	float: right;
}
/* .clearfix {
	clear: both;
	content: "";
	display: block;
} */
.main-header {
	display: flow-root;
}
/* 2022 way of clearfix hack for float collapses */

article {
	width: 825px;
	float: left;
}

aside {
	width: 300px;
	float: right;
}

footer {
	clear: both;
}
